token = "" # Токен группы
token22 = "" # Токен юзера
group_idd = "" # Айди группы
recipient = # Айди того, кому будут приходить уведомления о новых участниках 
allowuser = 3,45,5 # Разрешенны айди для страничного бота. Только цифровые, пример можно удалить
ip = "" # ip бд
tablechat = "mailing" # замените на другое название, ежели хотите нескольких таких ботов, с одной бд
apinews = "a8443b51a5544447a5a919bcbca46b8a" # /новость
chathello = "tablechat" # Та же причина, что и у tablechat
donatetoken = "" # Токен приложения с донатами
password = "" # Пароль от бд
user = "" # юзер в бд
db = "" # название бд
font = "" # путь к шрифту для цитат
